* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: rgb(248, 246, 246);
  }
  /* Navbar related css */
  
  #links {
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
    background-color: gold;
    box-shadow: 2px 2px 5px 5px rgb(235, 235, 235);
    
  }
  
  #links > div {
    display: flex;
    list-style: none;
    
  }
  #links a {
    text-decoration: none;
    font-size: 30px;
    color: white;
  }h1{
    margin: auto;
    text-align: center;
    margin-top: 20px;
    color: yellow;

  }
  form{
    text-align: center;
    margin-top: 20px;
    display: grid;
    width: 420px;
    row-gap: 10px;
    margin-left: 500px;
    text-align: center;
    
    
  }
  #submit{
    background-color: teal;
    border: none;
    border-radius: 10px;
    height: 30px;
    color: white;
    
  }

  body{
    background-color: rgb(111, 77, 32);
  }
  select,input{
    height: 40px;
    background-color: antiquewhite;
    border: none;
    text-align: center;
    border-radius: 4px;
    color: black;
  }
 #submit:hover{
  background-color: aqua;
 }